<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT"  >
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=black, DEBUG=green, TRACE=blue}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="log/sdx-simple.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="NetworkRollingFile" fileName="log/network-manager.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>

            <Filters>
                <!-- Now deny warn, error and fatal messages -->
                <ThresholdFilter level="warn"  onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY"   onMismatch="NEUTRAL"/>

                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="sdx.core.SdxManager" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="sdx.core.SliceManager" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="sdx.networkmanager.NetworkManager" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="common.slice.SliceCommon" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="sdx.bro.BroManager" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="client.exogeni.SdxExogeniClientManager" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="client.exogeni.ClientSlice" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="sdx.networkmanager.NetworkManager" level="info" additivity="false">
            <AppenderRef ref="NetworkRollingFile"/>
        </Logger>
    </Loggers>
</Configuration>